.letterBox {
    border: 1px solid black;
    min-height: 50px;
    min-width: 40px;
    margin: 5px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letter-box-active {
    background-color: aqua;
}
.letter-box-solved {
    background-color: lightgreen;;
}
.letter-box-almost {
    background-color: lightyellow;;
}
.letter-box-unsolved {
    background-color: lightgray;;
}