.keyboard-toprow, .keyboard-midrow, .keyboard-bottomrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.keyboard-letter {
  border: 1px solid black;
  border-radius: 5px; 
  width: 30px;
  height: 40px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  user-select: none;
  font-size: 18px;
}
.keyboard-letter-disabled {
  background-color: darkgray;
}
.playboard {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.keyboard {
  position:absolute;
  width: 100%;
  bottom:0;
}
.heading {
  margin-left:20px;
}
.not-in-dictionary-alert {
  color: red;
  text-align: center;
}